server {

    listen 80;
    listen [::]:80;

    server_name mage2.test;

    set $MAGE_ROOT /var/www;
    set $MAGE_MODE developer;

    error_log /var/log/nginx/magento_error.log;
    access_log /var/log/nginx/magento_access.log;

    include /var/www/nginx.conf.sample;
}